apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .Release.Name }}-k6
spec:
  backoffLimit: 0
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: k6
          image: {{ .Values.k6.image }}
          command: ["k6", "run", "/scripts/test.js"]
          volumeMounts:
            - name: script
              mountPath: /scripts
      volumes:
        - name: script
          configMap:
            name: {{ .Release.Name }}-k6-script
